body {
  position: relative;
  margin: 0;
  height: 100%;
  background-color:black;
}

header h1{
font-family:Arial, Helvetica, sans-serif;
color:white;
position: right;
position: relative;
top: 90%;
left: 80%;
}

h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(52, 241, 52);
  font-size: 80px;
}
h2{
  font-size: 20px;
}
.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image:url("https://media1.tenor.com/images/e0634a5cf3567fc7c3cb9a5d53b6f496/tenor.gif?itemid=19190380");
  background-size: cover;

}
.control-holder {
  display:flex;
}

.name{
  text-align: right top;
  color:black;
  font-family: arial;
  padding: 15px 12px;
  border-radius: 8px;
  background-color: rgb(29, 211, 235);
  font-size: 38px;
}
.petName {
   background-color: green;
  color: white;
  font-size: 25px;
  font-family: arial;
  padding: 18px 15px;
  border-radius: 8px;
}

.hidden{
  display: none;
}

img{
  height: 500px;
  width:500px;

}
#start {
  top: 1180%;
  right: 520%;
  background-color: green;
  color: white;
  font-size: 25px;
  font-family: arial;
  padding: 18px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: bottom;
}

#start:hover {
  background-color: rgb(235, 156, 11);
}
#hunger{
  font-size: 50px;
  color:white;

}

#tired{
 font-size: 50px;
  color:white;

}
#bored{
 font-size: 50px;
  color:white;
}
 #timer{
   top: 560px;
  position: absolute;
  color:white;
  height: 32px;
  width: 30px;
  font-size: 90px;
  font-family:arial;
  right: 200px;
}
#age{

 background-color: green;
  color:white;
  font-size: 25px;
  font-family: arial;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}

.food{
  background-color: green;
    color:white;
  font-size: 25px;
  font-family: arial;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px;
    margin: 20px;
}

.sleep{
  background-color: green;
  color:white;
  font-size: 25px;
  font-family: arial;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}

.play{
   background-color: green;
    color:white;
  font-size: 25px;
  font-family: arial;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px;
    margin: 20px;
}

#hunger-bar{
  color: green;
}

#bored-bar{
  color: green;
}

#tired-bar{
  color: green;
}

#age-bar {
  color: green;
}
